<!DOCTYPE html>

<html>

<head>

    <title>Student Result Prediction</title>

</head>

<body>

    <h1>Student Result Prediction</h1>

    <form action="/predict_form" method="post">

        <label>Gender:</label>

        <input type="text" name="gender">

        <br><br>

        <label>Math:</label>

        <input type="number" name="math">

        <br><br>

        <label>Science:</label>

        <input type="number" name="science">

        <br><br>

        <button type="submit">

            Predict

        </button>

    </form>

</body>

</html>